<div class="conatiner">
<div class="searchpart">
  <h1>Random Fruit Generator</h1>
  <input type="text" placeholder="Enter atleast 3 Characters" id="searchInput">
<div *ngIf="loadingSearch">Loading search...</div>
<div *ngIf="errorSearch">{{ errorSearch }}</div>
<div *ngIf="resultSearch">
  <p>{{ resultSearch }}</p>
</div>
</div>
<div class="userpart">
  <h1>Fetching User Data</h1>
  <h2>User and Posts</h2>
<div *ngIf="loadingData">Loading data...</div>
<div *ngIf="errorData">{{ errorData }}</div>
<div *ngIf="combinedData">
  <h3>User Details</h3>
  <p>Name: {{ combinedData.user.name }}</p>
  <p>Email: {{ combinedData.user.email }}</p>
  <h3>User Posts</h3>
  <ul>
    <li *ngFor="let post of combinedData.posts">{{ post.title }}</li>
  </ul>
</div>
</div>

</div>


